/*
!/*.*
!/*/
!dune
!dune-project
!LICENSE
### Above combination will ignore all files without extension ###

# dune build artifacts
_opam/
_build/
*.install

# vim swap files
*.swp
*.swo

# emacs lock files
.#*

# vscode settings
.vscode/

.DS_Store

# moonbit
target/
.mooncakes
failed_tests/
rv64_failed_tests/
/*.s

__pycache__
